# *.pkl
*.db
*.csv
src/src/
*.pytest_cache
__pycache__/
*.pyc
*.rds
.vscode/
.venv/
src/src/
.git/
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.log
*.csv
*.xlsx
.env
*.rds
.DS_Store
.idea
.git
.gitignore
.ipynb_checkpoints
OneDrive/
*.db
loggings